<link rel="stylesheet" href="../css/styleLogin.css">
<ion-view class="Fondo">
	<ion-content>
		<div class="row">
			<div class="col text-center">
				<img class="logo" src="../img/Logomax.png">
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<label class="Colorlabel">Correo</label>
				<input class="centrado2" type="text" name="">
				<hr>
				<label class="Colorlabel">Contraseña</label>
				<input class="centrado2" type="text" name="">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<button class="boton centrado"><a class="LetraBoton" href="">Iniciar</a></button>
				<p class="Colorletra">¿Aun no tienes cuenta?</p> <p class="Colorletra2">Registrate</p>
			</div>
		</div>
	</ion-content>
</ion-view>